@use "typographys/typographys";
@use "reset/reset";

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 320px;
  height: 1210px;
  background: url("/src/images/main-photo.webp") no-repeat;
  background-size: cover;
  padding: 16px;
  &__main-text {
    color: #fff;
  }
  &__title {
    font-family: typographys.$main-typography;
    font-size: 40px;
  }
  &__subphrase {
    font-family: typographys.$secondary-typography;
    font-size: 18px;
  }
}

.header__container {
  display: flex;
  padding: 20px;
  align-items: center;
  min-width: 100vw;
  justify-content: space-between;
}

.form-booking {
  height: 595px;
  min-width: 288px;
  background-color: #fff;

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__button {
      background-color: #ff7757;
    }
  }
}

.items__item {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  &__icon {
    width: 25px;
    height: 27px;
  }
  &__name {
    width: 100px;
    height: 20px;
  }
}
