@use "typographys/typographys";
@use "reset/reset";
@use "colors/colors";

.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 100px 16px;
  gap: 20px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(/src/images/banner.webp) no-repeat;
  background-position: 20% 72%;

  &__main-text {
    color: #fff;
  }

  &__title {
    font-family: typographys.$main-typography;
    font-size: 40px;
  }

  &__subphrase {
    font-family: typographys.$secondary-typography;
    font-size: 18px;
  }
}

.header__container {
  display: flex;
  padding: 20px;
  align-items: center;
  min-width: 100vw;
  justify-content: space-between;
}

.container {
  &__button {
    background: url(/src/images/3lines.svg);
    border: none;
    width: 38px;
    height: 24px;
  }
}

.form-booking {
  display: flex;
  min-height: 595px;
  min-width: 100%;
  background-color: #fff;
  border-radius: 16px;
  padding: 16px;

  &__fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.fields__field {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field__item {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & label {
    font-family: typographys.$secondary-typography;
    text-transform: uppercase;
    color: colors.$terciary-color;
  }

  & input {
    font-family: typographys.$main-typography;
    border: none;
    border-bottom: colors.$main-color solid 1px;
  }
}

.fields__button {
  min-height: 128px;
  margin: 0;
  background-color: colors.$main-color;
  border: none;
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;

  &__icon {
    width: 25px;
    height: 27px;
  }

  &__name {
    width: 100px;
    height: 20px;
  }
}

.cards {
  display: flex;
  flex-direction: column;
  background: #fff;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 60px 16px;

  &__description {
    width: 288px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: colors.$card-background-color;
    border-radius: 16px;
  }

  &__button {
    width: 18.6rem;
    height: 6.1rem;
    background: colors.$cards-color;
    border: none;
    border-radius: 1.2rem;
    color: #fff;
    font-family: typographys.$secondary-typography;
    font-size: 2rem;
    font-weight: 400;
  }
}

.titles {
  &__title {
    font-family: typographys.$main-typography;
    font-size: 40px;
    border-bottom: 2px solid colors.$main-color;
    color: colors.$secondary-color;
  }

  &__subtitle {
    font-family: typographys.$secondary-typography;
    color: colors.$terciary-color;
    font-size: 1.8rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 2rem;

  &__description {
    position: absolute;
    left: 37px;
    top: 160px;
    font-size: 2.4rem;
    font-family: typographys.$main-typography;
    color: #fff;
  }

  &__location {
    position: absolute;
    left: 77px;
    top: 200px;
    font-size: 1.8rem;
    font-family: typographys.$secondary-typography;
    color: #fff;
  }

  &__photo {
    border-radius: 16px;
    object-fit: cover;
  }

  &__title {
    font-family: typographys.$main-typography;
    font-size: 4rem;
    color: colors.$secondary-color;
  }

  &__subtitle {
    font-family: typographys.$main-typography;
    color: colors.$secondary-color;
    font-size: 2.8rem;
  }

  &__text {
    font-family: typographys.$secondary-typography;
    font-size: 1.8rem;
    color: colors.$secondary-color;
    line-height: 2.2em;
  }
}

.text {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 288px;
  flex-wrap: wrap;
  padding: 2rem;

  &__title {
    font-family: typographys.$card_typography;
    color: colors.$terciary-color;
    font-size: 2.8rem;
  }

  &__container {
    font-family: typographys.$secondary-typography;
    font-size: 1.6rem;
  }

  &__price {
    font-family: typographys.$secondary-typography;
  }

  &__button {
    width: 12.7rem;
    height: 5.6rem;
    background: colors.$cards-color;
    border: none;
    border-radius: 1.2rem;
    text-transform: uppercase;
    color: #fff;
    font-family: typographys.$secondary-typography;
    font-size: 2rem;
  }
}

.price {
  display: flex;
  font-family: typographys.$secondary-typography;
  align-items: center;
  gap: 1rem;
  padding: 1.5rem 0;

  &__text {
    font-size: 1.8rem;
  }

  &__number {
    font-size: 3.2rem;
    color: colors.$cards-color;
  }
}

.photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

  &__offers {
    border-radius: 26px 26px 0px 0px;
  }
}

.buttons {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;

  &__left {
    height: 6.6rem;
    border: none;
  }

  &__right {
    height: 6.6rem;
    border: none;
  }
}

.footer {
  display: flex;
  gap: 2rem;

  &__link {
    font-family: typographys.$secondary-typography;
    color: colors.$cards-color;
    font-size: 2.4rem;
  }
}

.rating {
  display: flex;
  justify-content: space-between;

  &__text {
    font-family: typographys.$secondary-typography;
    font-size: 1.8rem;
  }
}

.information {
  display: flex;
  justify-content: space-between;
  font-family: typographys.$secondary-typography;
  color: colors.$secondary-color;
  font-size: 1.8rem;

  &__title {
    text-transform: uppercase;
  }
}
